* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", "Montserrat";
    text-transform: capitalize;
    transition: all 0.5s;


}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: inherit;
}

/* =========================== nav start ============ */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    height: 80px;
    align-items: center;
    position: relative;
    background-color: white;
    

}

.nav-left {
    display: flex;
    gap: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 23px;
}

nav a {
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    color: #222;
    
}

.nav-logo img {
    height: 50px;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-icon button {
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    /* background: rgb(250, 57, 67); */

}

.nav-icon i {
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;

}

nav li:hover {
    transform: scale(1.1);
}

.nav-icon i:hover {
    transform: scale(1.1);
}

.nav-icon button:hover {
    transform: scale(1.1);
}
#hamburger{
    font-size: 35px;
    display: none;
}
.show-nav{
       width: 200px;
       opacity: 1;
       
}

.search-box{
    position: absolute;
    height: 80px;
    width: 30%;
    right: 0;
    top: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transform: translateY(-100px);
    z-index: -1;
    backdrop-filter: blur(20px);
    background: white;
    visibility: hidden;
    padding: 10px 0;box-shadow: 0 0 10px rgba(128, 128, 128, 0.151);
}
.search{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.search i{
    height: 100%;
    line-height: 60px;
    text-align: center;
    width: 10%;
    cursor: pointer;
}
.search input{
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    background: whitesmoke;

}
.show-search{
    transform: translateY(0px);
    visibility: visible;
    z-index: 1;
  

}

/* =========================== nav end ============ */





/* =========================== hero startttttttttttttttt ============ */
.hero-con{
    height: auto;
    width: 100%;
    padding: 30px;
}
.hero-box{
    z-index: -2;
    height: 90vh;
    width: 100%;
    border-radius: 23px;
    background: linear-gradient(whitesmoke, #d3d3d3 );
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.267);
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    

}
.hero-box img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
    pointer-events: none
 
}


.hero-box h3{
    line-height: 30px;
    font-size: 3vw;
    font-weight: 700;
}
.hero-box h2{
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: 2px;
}
.hero-box h1{
    font-size:clamp( 100px ,13vw, 200px);
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 150px;
    font-weight: 900;
}
.hero-box button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fd3943;
    border: none;
    outline: none;
    border-radius: 23px;
    margin: 20px 10px;
    color: white;
    cursor: pointer;
   
}
.hero-box button:hover{
    transform: scale(0.9);
}

/* =========================== hero enddddddddd ============ */

/* =============== category  satrttttttttt============= */
.category{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    gap: 12px;

}
.c-card{
    padding: 30px 20px;
    border-radius: 18px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.342);
    height: 50vh;
    color: white;
    position: relative;
    height: auto;
    padding-top: 100px;
}
.c-card h3{
    font-weight: 500;
    font-size: 16px;
}
.c-card h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3vw;
    opacity: 0.7;
}
.c-card h2{
    font-weight: 700;
    font-size: 27px;
}
.c-card img{
   pointer-events: none;
}
.c-card-1{
    background: linear-gradient(-120deg,	#464646,	#343434);
}

.c-card-1 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.c-card-2{
    background: linear-gradient(-120deg,	#FFC700,	#FFC700);
    
    
}
.c-card-2 img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    object-fit: contain;
    
}
.c-card-3 img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    object-fit: contain;
}
.c-card button{
    padding: 8px 15px;
    font-size: 18px;
    background: #fd3943;
    border: none;
    outline: none;
    border-radius: 23px;
    color: white;
    cursor: pointer;
}
.c-card button:hover{
    transform: scale(0.9);
}
.c-card-3{
    background: linear-gradient(-120deg,	#fa464f,	#fd3943);

}


.c-card-2 button {
    background:white;
    color: #FFC700;
}
.c-card-3 button{
    background:white;
    color: #fd3943;
    
    
}


/* =============== category  enddddddddddd============= */


/* =============== services startttttttttttttt============= */
.services{
    width: 100%;
    background: transparent;
    padding: 50px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    
}
.ser-card{
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ser-img img{
    height: 30px;
}
.ser-text h2{
     font-size: 18px;
     font-weight: 700;
}
.ser-text h3{
    font-weight: 400;
    font-size: 14px;
}


/* =============== services   enddddddddddd============= */


/* =============== offf starttttttt============= */

.off{
    padding: 100px 30px;
    width: 100%;
    
 
}
.off-card{
    height: auto;
    width: 100%;
    padding: 50px 40px;
    border-radius: 12px;
    background: linear-gradient(-120deg,	#fa464f,	#fd3943);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.off-left{
    width: 60%;
    height: 100%;
}
.off-right{
    width: 40%;
    height: 100%;
}
.off-left  h4 ,.off-right h4{
    font-weight: 400;
}
.off-left h1{
    font-weight: 900;
    font-size: 7vw;
    opacity: 0.8;
    width: 300px;
    line-height: 90px;

}
.off-right h2{
    font-size: 40px;
    font-weight: 900;
}
.off-card img {
  position: absolute;
  top: -80px;
  left: 20%;
  object-fit: fill;
 height: 400px; 
width: 500px;
 transform: translateY(-100px);
 pointer-events: none;
}


/* =============== offf   enddddddddddd============= */



/* =============== product starttttttttttttt============= */
.product-title ,.blog-title{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-title h1 ,.blog-title h1{
    font-size: 50px;
    font-weight: 800;

}
.product-con{
    width: 100%;
    height: auto;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    gap: 23px;
    flex-wrap: wrap;
}
.product{
    width: 20%;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.356);
    cursor: pointer;
   
}
.product:hover{
    transform: scale(1.1);
}
.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product p {
    padding:  0 10px;
}
.product-desc{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.product-desc button{
    border: none;
    outline: none;
    padding: 5px 10px;
    box-shadow: 0 0 7px rgb(128, 128, 128);
    background: #fa464f;
    color: white;
    border-radius: 5px;
    font-size: 20px;

}
.product-desc button:hover{
    transform: scale(0.9);
}

/* =============== product   enddddddddddd============= */


/* =============== blogs sttarttttttttttt============= */
.blog{
   padding: 30px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.blog-card{
    height: auto;
    width: 28%;

}
.blog-card .blog-img{
    height: 200px;
    width: 100%;
    margin-bottom:15px;
}
.blog-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.671);
}
.blog-card h3, .blog-card p{
    font-size: 14px ;
    color: #555555;
    font-weight: 400;

}
.blog-card h2{
    font-size: 18px;
    padding: 5px 0;

}
/* =============== blogs   enddddddddddd============= */

/* =============== company startttttttttttt============= */
.company{
    margin: 30px 0px;
    height: 150px;
    width: 100%;
    background: rgb(219, 219, 219);
   overflow: hidden;
    padding: 0 10px;
    position: relative;
    /* mask-image: linear-gradient(
        to right ,
        transparent,
        #000000 10% 90%,
        transparent
    ); */
}
.company-img{
    width: 40%;
    height: 100%;
    position: absolute;
    right: 1px;
    animation: ani-1 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    

}
.company-img img{
    height: 40px;
    width: 100px;
   
   
    
}
@keyframes ani-1 {
  from{
        right: -300px;
    }
    to{
        right:100%;
    }
}

/* =============== company   enddddddddddd============= */
